{% extends 'base/base.html' %}

{% block contentprincipal %}
<form method="post">
    <input type="hidden" name="action" value="registrar_cliente">
    <div class="card">
        <div class="card-header">Registrar Cliente</div>
        <div class="card-body">
            {% csrf_token %}
            <div class="row">
            {% for campo in form.visible_fields %}
                    <div class="col-6">
                        <div class="form-group">
                            <label>{{ campo.label }}</label>
                            {{campo}}
                        </div>
                    </div>
            {% endfor %}
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Celular</label>
                        <input class="form-control" value="{{ celular }}" type="text" name="celular" required>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Telefono opcional</label>
                        <input class="form-control" value="{{telefono_opcional}}" type="text" name="telefono_opcional">
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="cliente_id" value ="{{id_cliente}}" >
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btnTest" id="btn-new">
                Guardar Registro
                <i class="fas fa-plus-circle"></i>
            </button>
        </div>
    </div>
</form>
<form method="POST" enctype="multipart/form-data">  
    {% csrf_token %}
    <br>  
    <h3>Carga Masiva de Datos</h3>
    <br>
    <input type="file" name="csvfile"> 
    <input type="hidden" name="action" value="carga_datos">
    <button class="btn btn-primary" type="submit">Cargar Datos</button>  
</form> 
{% endblock contentprincipal %}
