{% extends 'crud/list.html' %}

{% block columns %}
    <tr>
        <th scope="col" style="width:10%;">Identificacion</th>
        <th scope="col" style="width:15%;">Nombre</th>
        <th scope="col" style="width:15%;">Apellidos</th>
        <th scope="col" style="width:15%;">ciudad</th>
        <th scope="col" style="width:15%;">Email</th>
        <th scope="col" style="width:15%;">Detalles</th>
        <th scope="col" style="width:10%;">Opciones</th>
    </tr>
{% endblock columns %}

{% block rows %}
    {% for cliente in object_list %}
        <tr>
            <td>{{cliente.numero_identificacion}}</td>
            <td>{{cliente.nombres}}</td>
            <td>{{cliente.apellidos}}</td>
            <td>{{cliente.ciudad}}</td>
            <td>{{cliente.email}}</td>
            <td class="text-center">
                <button 
                    value = "{{cliente.pk}}"
                    id = "btn-telefonos"
                    class="btn btn-primary btn-xs"
                    data-toggle="modal" data-target="#modaltelefono">
                    <i class="fas fa-phone"></i>
                </button>
            </td>
            <td>
                <a href="{% url 'cliente_editar' cliente.pk %}" class="btn btn-warning btn-sm">
                    <i class="fas fa-edit"></i>
                </a>
                <a href=" {% url 'cliente_eliminar' cliente.pk %}"  class="btn btn-danger btn-sm">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock rows %}
{% block modal %}
<script>
    // ELEMENTO DEL BODY TABLE
    const btn_telefonos = document.querySelectorAll('#btn-telefonos')
    btn_telefonos.forEach(btn =>{
        btn.addEventListener('click',()=>{
        const URL = "{{url_list}}"
        const DATA = {
            action : 'listar_telefonos',
            id : btn.value
        }
        const PARAMETROS = {
            method : 'POST',
            body : JSON.stringify(DATA),
            headers : {
                'Content-Type': 'application/json'
            }
        }
        fetch(URL,PARAMETROS)
            .then(response => response.json())
            .then(res => renderizarTelefonos(res))
            .catch(err => console.log(err))
        })
    })
    // crea las etiquetas para renderizar los numeros de telefono
    function renderizarTelefonos(listaTelefonos){
        let tbody = document.getElementById('body-telefonos')
        if (tbody.hasChildNodes()){
            tbody.innerHTML = ''
        }
        listaTelefonos.forEach(tel => {
            let tr = document.createElement("tr")
            let tdId = document.createElement("td")
            tdId.textContent = tel.id
            let tdTelefono = document.createElement("td")
            tdTelefono.textContent = tel.numero_telefono
            tr.appendChild(tdId)
            tr.appendChild(tdTelefono)
            tbody.appendChild(tr)
        })
    }
</script>

<!-- MODAL PARA MOSTRAR TELEFONOS -->
<div class="modal" id="modaltelefono">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- ENCABEZADO DEL MODAL -->
            <div class="modal-header">
            <h4 class="modal-title">Telefonos</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- CUERPO DEL MODAL -->
            <div class="modal-body">
            <div class="row">
                <div class="col">
                    <table class="table table-hover table-bordered table-reponsive">
                        <thead class="thead-dark">
                        <tr>
                            <th><i class="fas fa-list-ol"></i></th>
                            <th>Telefono</th>
                        </tr>
                        </thead>
                        <tbody id='body-telefonos'>
                            
                        </tbody>
                    </table>
                </div>
            </div>
            </div>

            <!-- PIE DE PAGINA DEL MODAL -->
            <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>
{% endblock modal %}

