{% extends 'crud/list.html' %}

    {% block columns %}
        <tr>
        <th scope="col" style="width:10%;">Id</th>
        <th scope="col" style="width:15%;">Nombre</th>
        <th scope="col" style="width:10%;">Detalles</th>
        <th scope="col" style="width:10%;">Opciones</th>
    </tr>
    {% endblock columns %}

    {% block rows %}
        {% for categoria in object_list %}
            <tr>
                <td>{{categoria.id}}</td>
                <td>{{categoria.nombre_categoria}}</td>
                {% comment %} Modal con detalles de Productos {% endcomment %}
                <td>
                <button 
                    value = "{{categoria.pk}}"
                    id = "btn-categorias"
                    class="btn btn-outline-primary btn-xs btn-block"
                    data-toggle="modal" data-target="#modaldetallesProductos">
                    Detalles
                </button>
                <td>
                    <a href="{% url 'categoria_editar' categoria.pk %}" class="btn btn-warning btn-sm">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href=" {% url 'categoria_eliminar' categoria.pk %}"  class="btn btn-danger btn-sm">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    {% endblock rows %}