<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-cart-arrow-down"></i>
                <p>
                    Comercial
                <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                <a href="{% url 'cotizaciones_lista' %}" class="nav-link ">
                    <p>Quotes</p>
                </a>
                </li>
                <li class="nav-item">
                <a href="{% url 'ventas_lista' %}" class="nav-link">
                    <p>Sales</p>
                </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'clientes_lista' %}" class="nav-link">
                        <p>Clients</p>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-boxes"></i>
                <p>
                    Inventory
                <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                <a href="{% url 'insumo_lista' %}" class="nav-link">
                    <p>Supplies</p>
                </a>
                </li>
                <li class="nav-item">
                <a href="{% url 'unidadmedida_lista' %}" class="nav-link">
                    <p>Measurement units</p>
                </a>
                </li>                
                <li class="nav-item">
                <a href="{% url 'compra_crear' %}" class="nav-link">
                    <p>Buy Supplies</p>
                </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'proveedor_lista' %}" class="nav-link">
                        <p>Providers</p>
                    </a>
                </li>                
            </ul>
        </li>
    </ul>
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-truck-loading"></i>
                <p>
                    Production
                <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                <a href="#" class="nav-link">
                    <p>Production Orders</p>
                </a>
                </li>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <p>Dispatch Orders</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'transportadoras_lista' %}" class="nav-link">
                        <p>Carriers</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'productos_lista' %}" class="nav-link">
                        <p>Products</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'categorias_lista' %}" class="nav-link">
                        <p>Category Products</p>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-users"></i>
                <p>
                    Users
                <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                <a href="#" class="nav-link ">
                    <p>Role</p>
                </a>
                </li>
                <li class="nav-item">
                <a href="#" class="nav-link">
                    <p>Users List</p>
                </a>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="fas fa-paste"></i>
                <p>
                    Reports
                <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                <a href="{% url 'reporte_ventas' %} " class="nav-link ">
                    <p>Reporte de ventas</p>
                </a>
                </li>
                <li class="nav-item">
                <a href="{% url 'reporte_compras' %} " class="nav-link ">
                    <p>Reporte de compras</p>
                </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>