<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-cart-arrow-down"></i>
                <p>
                    Comercial
                <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                <a href="{% url 'cotizaciones_lista' %} " class="nav-link ">
                    <p>Cotizaciones</p>
                </a>
                </li>
                <li class="nav-item">
                <a href="{% url 'ventas_lista' %} " class="nav-link">
                    <p>Ventas</p>
                </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'clientes_lista' %} " class="nav-link">
                        <p>Clientes</p>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-boxes"></i>
                <p>
                    Inventario
                <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                <a href="{% url 'insumo_lista' %} " class="nav-link">
                    <p>Insumos</p>
                </a>
                </li>
                <li class="nav-item">
                <a href="{% url 'unidadmedida_lista' %} " class="nav-link">
                    <p>Unidades de medida</p>
                </a>
                </li>                
                <li class="nav-item">
                <a href="{% url 'compra_lista' %} " class="nav-link">
                    <p>Compra Insumos</p>
                </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'proveedor_lista' %} " class="nav-link">
                        <p>Proveedores</p>
                    </a>
                </li>                
            </ul>
        </li>
    </ul>
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-truck-loading"></i>
                <p>
                    Producción
                <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                <a href="#" class="nav-link">
                    <p>Ordenes de producción</p>
                </a>
                </li>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <p>Ordenes de despacho</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'transportadoras_lista' %} " class="nav-link">
                        <p>Transportadoras</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'productos_lista' %} " class="nav-link">
                        <p>Productos</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'categorias_lista' %} " class="nav-link">
                        <p>Categoria Productos</p>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-users"></i>
                <p>
                    Usuarios
                <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                <a href="#" class="nav-link ">
                    <p>Roles</p>
                </a>
                </li>
                <li class="nav-item">
                <a href="{% url 'usuarios_lista' %} " class="nav-link">
                    <p>Listar Usuarios</p>
                </a>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="fas fa-paste"></i>
                <p>
                    Reportes
                <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                <a href="{% url 'reporte_ventas' %} " class="nav-link ">
                    <p>Reporte de ventas</p>
                </a>
                </li>
                <li class="nav-item">
                <a href="{% url 'reporte_compras' %} " class="nav-link ">
                    <p>Reporte de compras</p>
                </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>