{% load static %}

<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> InPlace </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="#">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

	<!-- CSS here -->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %} ">
	<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %} ">
	<link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %} ">
    <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %} ">
    <link rel="stylesheet" href="{% static 'assets/css/gijgo.css' %} ">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %} ">
    <link rel="stylesheet" href="{% static 'assets/css/animated-headline.css' %} ">
	<link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %} ">
	<link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %} ">
	<link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %} ">
	<link rel="stylesheet" href="{% static 'assets/css/slick.css' %} ">
	<link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %} ">
	<link rel="stylesheet" href="{% static 'assets/css/style.css' %} ">
</head>
<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'assets/img/logo/loder.png' %} " alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
<header>
    <!--? Header Start -->
    <div class="header-area">
        <div class="main-header header-sticky">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!-- Logo -->
                    <div class="col-xl-2 col-lg-2 col-md-1">
                        <div class="logo">
                            <a href="#index"><img src="{% static 'assets/img/logo/logo.png' %} " alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10">
                        <div class="menu-main d-flex align-items-center justify-content-end">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">                                        
                                        <li><a href="#index">Inicio</a></li>
                                        <li><a href="#about">Quienes Somos</a></li>
                                        <li><a href="#products">Productos</a></li>                                        
                                        <li><a href="#contact">Contáctenos</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="header-right-btn f-right d-none d-lg-block ml-30">
                            {% comment %} -------------------------------------Cambiar Ruta Login ----------------------------{% endcomment %}
                                <a href="#" class="btn header-btn">Iniciar Sesión</a>
                            </div>    
                        </div>
                    </div>   
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>

{% block content %}
{% include 'espanol/index_esp.html' %}
{% include 'espanol/nosotros.html' %}
{% include 'espanol/productos.html' %}
{% include 'espanol/contacto.html' %}
{% endblock content %}

<footer>
    <!--? Footer Start-->
    <div class="footer-area section-bg" data-background="#">
        <div class="container">
            <div class="footer-top footer-padding">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-8">
                        <div class="single-footer-caption mb-50">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a href="english/index.html"><img src="{% static 'assets/img/logo/logo2_footer.png' %} " alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Redes Sociales</h4>
                                <br>
                                <ul class="header-social">    
                                    <li><h1><a href="#"><i class="fab fa-twitter"></i></a></h1></li>
                                    <li><h1><a href="#"><i class="fab fa-facebook-f"></i></a></h1></li>
                                    <li><h1><a href="#"><i class="fab fa-instagram"></i></a></h1></li>
                                    <li><h1><a href="#"><i class="fab fa-google-plus-g"></i></a></h1></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-number mb-50">
                                <h3 style="color:#A7A5A4">Carrera 26 No. 17B-21 Sur (Restrepo)</h3>
                                <h3 style="color:#A7A5A4">Bogotá, D.C. - Colombia</h3>
                                <br><br>
                                <h2 style="color:#A7A5A4">+571 462 9268</h2>
                                <h2 style="color:#A7A5A4">+571 209 0345</h2>
                                <h2 style="color:#A7A5A4">+57 317 438 6061</h2>
                                <br>
                                <h3 style="color:#A7A5A4">juanc.castillo@scarto.co</h3>
                                <h3 style="color:#A7A5A4">info@scarto.co</h3>
                                <h3 style="color:#A7A5A4">www.scarto.co</h3>
                            </div>                                                                
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="row d-flex justify-content-between align-items-center">
                    <div class="col-xl-9 col-lg-8">
                        <div class="footer-copy-right">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made by <a href="#">GAES#10</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <!-- Footer Social -->
                        <div class="footer-social f-right">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>
    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->

    <script src="{% static 'assets/js/vendor/modernizr-3.5.0.min.js' %} "></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %} "></script>
    <script src="{% static 'assets/js/popper.min.js' %} "></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %} "></script>
    <!-- Jquery Mobile Menu -->
    <script src="{% static 'assets/js/jquery.slicknav.min.js' %} "></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{% static 'assets/js/owl.carousel.min.js' %} "></script>
    <script src="{% static 'assets/js/slick.min.js' %} "></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="{% static 'assets/js/wow.min.js' %} "></script>
    <script src="{% static 'assets/js/animated.headline.js' %} "></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.js' %} "></script>

    <!-- Date Picker -->
    <script src="{% static 'assets/js/gijgo.min.js' %} "></script>
    <!-- Nice-select, sticky -->
    <script src="{% static 'assets/js/jquery.nice-select.min.js' %} "></script>
    <script src="{% static 'assets/js/jquery.sticky.js' %} "></script>
    
    <!-- counter , waypoint -->
    <script src="{% static 'assets/js/jquery.counterup.min.js' %} "></script>
    <script src="{% static 'assets/js/waypoints.min.js' %} "></script>
    <script src="{% static 'assets/js/jquery.countdown.min.js' %} "></script>
    <!-- contact js -->
    <script src="{% static 'assets/js/contact.js' %} "></script>
    <script src="{% static 'assets/js/jquery.form.js' %} "></script>
    <script src="{% static 'assets/js/jquery.validate.min.js' %} "></script>
    <script src="{% static 'assets/js/mail-script.js' %} "></script>
    <script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %} "></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="{% static 'assets/js/plugins.js' %} "></script>
    <script src="{% static 'assets/js/main.js' %} "></script>
    
    </body>
</html>