
<main id="index">
    <!--? slider Area Start-->
    <div class="slider-area position-relative">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-7 col-lg-9 col-md-8 col-sm-9">
                            <div class="hero__caption">
                                <span>Experiencia a su servicio</span>
                                <h1 class="cd-headline letters scale">Soluciones para
                                    <strong class="cd-words-wrapper">
                                        <b class="is-visible">Hogar</b>
                                        <b>Industria</b>
                                        <b>Comercio</b>
                                    </strong>
                                </h1>
                                <p data-animation="fadeInLeft" data-delay="0.1s">Ofrecemos todos los productos que usted necesita.</p>                                
                            </div>
                        </div>
                    </div>
                </div>          
            </div>            
        </div>
    </div>
</main>



   