{% load static %}

<main id="about">
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2 text-center">
                        <h2>Quienes Somos</h2>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!--? About Start-->
    <div class="about-area section-padding2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-10">
                    <div class="about-caption mb-50">
                        <!-- Section Tittle -->
                        <div class="section-tittle section-tittle2 mb-35">
                            <span>Acerca de Nuestra Empresa</span>
                            <h2>Bienvenidos a InPlace</h2>
                        </div>
                        <p style="text-align:justify">
                             Empresa de origen colombiano con mas de 30 años de experiencia en la manufactura y comercialización de artículos de uso en el hogar y la industria, tiempo en el cual se ha trabajado activamente para lograr una fuerte y duradera oportunidad de negocios. En nuestra organización estamos continuamente innovando y creando ideas, que nos permitan mejorar procesos y maximizar nuestro nivel y calidad de producción.
                            El objetivo de nuestra compañía, es desarrollar productos para el hombre y la vida futura, que satisfagan las necesidades de mercados exigentes.
                            Nuestro enfoque de negocio se centra desarrollar productos y servicios, basados en la calidad absoluta y el excelente servicio al cliente, que aseguren un impacto sustancial y tangible  en  la productividad y la competitividad, por lo cual nuestro grupo objetivo es el sector empresarial, industrial, comercial y doméstico.
                            Es importante recalcar que nuestra gran fortaleza está basada en en tres importantes puntos que son:
                            <br><br>
                            * Enfoque al Cliente
                            <br>
                            * Innovación
                            <br>
                            * Alto Desempeño
                            <br><br>

                            Sumado a esto, el excelente grupo humano altamente calificado en el desarrollo de cada uno de los procesos realizados, y la gran experiencia que a lo largo de estos años hemos adquirido, con el único objetivo de ofrecer al cliente lo mejor de nuestra empresa.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- about-img -->
                    <div class="about-img ">
                        <div class="about-font-img d-none d-lg-block">
                            <img src="{% static 'assets/img/gallery/about2.png' %}" alt="">
                        </div>
                        <div class="about-back-img ">
                            <img src="{% static 'assets/img/gallery/about1.png' %} " alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

