{% load static %}

<main id="products">
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2 text-center">
                        <h2>Productos</h2>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!--? Team Start -->
    <div class="team-area section-padding30">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-tittle text-center mb-100">
                        <h2>Bioseguridad</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-">                  
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="{% static 'assets/img/gallery/team1.png' %} " alt="">
                        </div>
                        <div class="team-caption">
                             <h2><a href="#">TAPABOCAS DESECHABLE</a></h2>
                            <h5>Ref: 4112 (Tipo N95). Registro Sanitario INVIMA.
                                100% Polipropileno. Antifulido. Libre de patógenos.                                
                                Caja Dispensadora (Cartón Corrugado) X 25, X 50.                                
                                Color: Azul y Blanco.</h5>                           
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="{% static 'assets/img/gallery/team2.png' %} " alt="">
                        </div>
                        <div class="team-caption">
                            <h2><a href="#">TERMÓMETRO INFRARROJO</a></h2>
                            <h5>Marca: Berrcom - Modelo: JXB-178
                                <br>
                                Intervalo temperaturas: 35°C - 42.9°C
                                <br>                                
                                Certificado Por el Ministerio de Salud de la Unión Europea</h5>               
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-">                  
                </div>                  
            </div>            
        </div>
        <div class="container mt-100">
            <!-- Section Tittle -->
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-tittle text-center mb-100">
                        <h2>Hogar</h2>
                    </div>
                </div>
            </div>
        </div> 
        <div class="container">          
            <div class="row">                
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="{% static 'assets/img/gallery/team3.png' %} " alt="">
                        </div>
                        <div class="team-caption">
                            <h2><a href="#">BOLSAS PARA ASPIRADORA</a></h2>
                            <h5>Manufactura de bolsas para aspiradora de uso domestico e industrial, elaboradas en papel y filtro, Fibra de vidrio sintética y aromatizadas.
                                Las bolsas son ecológicas, biodegradables.</h5>                    
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="{% static 'assets/img/gallery/team4.png' %} " alt="">
                        </div>
                        <div class="team-caption">
                           <h2><a href="#">COMEDERO EN SILICONA</a></h2>
                            <h5>Su uso es ideal para perros y gatos grandes y pequeños. 100% amigable con el medio ambiente.
                                Manufacturado en silicona de grado alimenticio. Diseño flexible, plegable y deportivo.</h5>                   
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="{% static 'assets/img/gallery/team5.png' %} " alt="">
                        </div>
                        <div class="team-caption">
                            <h2><a href="#">GUANTE TÉRMICO</a></h2>
                            <h5>Guante Fabicado en silicona <br>
                                Resistente al calor (300 grados centígrados aprox.)
                                Peso unitario 0.25 gramos. <br>
                                100% amigable con el medio ambiente.
                            </h5>                            
                        </div>
                    </div>
                </div>                                        
            </div>    
            <div class="row">                
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="{% static 'assets/img/gallery/team6.png' %} " alt="">
                        </div>
                        <div class="team-caption">
                            <h2><a href="#">COGE OLLAS / POSA OLLAS</a></h2>
                            <h5>Fabricado en silicona. <br>
                                Resistencia a altas temperaturas. <br>
                                Útil para coger ollas y recipientes calientes.
                                Apta para cocina doméstica y cocina industrial.</h5>               
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="{% static 'assets/img/gallery/team7.png' %} " alt="">
                        </div>
                        <div class="team-caption">
                            <h2><a href="#">VASO DE LICUADORA</a></h2>
                            <h5>Fabricado en Vidrio. <br> 
                                Vaso para licuadora con sistema de medida <br> 
                                Bordes redondeados para mayor seguridad, con manija comoda y resistente.</h5>                           
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="{% static 'assets/img/gallery/team8.png' %} " alt="">
                        </div>
                        <div class="team-caption">
                            <h2><a href="#">BASE PARA PLANCHA</a></h2>
                            <h5>Soporte en silicona de alta duración y resistencia al calor, especial para uso doméstico.
                                100% amigable con el medio ambiente. <br>
                                Soporta hasta 200°C.
                            </h5>                            
                        </div>
                    </div>
                </div>                               
            </div>         
        </div>   
    </div>
    <!-- Team End -->
</main>

    