{% load static %}

<main id="about">
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2 text-center">
                        <h2>About Us</h2>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!--? About Start-->
    <div class="about-area section-padding2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-10">
                    <div class="about-caption mb-50">
                        <!-- Section Tittle -->
                        <div class="section-tittle section-tittle2 mb-35">
                            <span>About Our Company</span>
                            <h2>Welcome to InPlace</h2>
                        </div>
                        <p style="text-align:justify">
                            Colombian company with more than 30 years of experience in the manufacture and commercialization of articles of use in the home and industry, 
                            time in which one has worked actively to obtain a strong and lasting opportunity of businesses. In our organization we are continuously innovating 
                            and creating ideas that allow us to improve processes and maximize our level and quality of production. The objective of our company is to develop 
                            products for man and future life that satisfy the needs of demanding markets. Our business focus is to develop products and services, based on 
                            absolute quality and excellent customer service, which ensure a substantial and tangible impact on productivity and competitiveness, so our target 
                            group is the business, industrial, commercial and domestic sector. It is important to emphasize that our great strength is based on three important 
                            points which are:
                            <br><br>
                            * Customer Focus
                            <br>
                            * Innovation
                            <br>
                            * High Performance
                            <br><br>

                            Added to this, the excellent human group highly qualified in the development of each one of the processes carried out, and the great experience that throughout 
                            these years we have acquired, with the only objective to offer the client the best of our company.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- about-img -->
                    <div class="about-img ">
                        <div class="about-font-img d-none d-lg-block">
                            <img src="{% static 'assets/img/gallery/about2.png' %}" alt="">
                        </div>
                        <div class="about-back-img ">
                            <img src="{% static 'assets/img/gallery/about1.png' %} " alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

