{% load static %}

<main id="products">
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2 text-center">
                        <h2>Products</h2>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!--? Team Start -->
    <div class="team-area section-padding30">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-tittle text-center mb-100">
                        <h2>Biosecurity</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-">                  
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="{% static 'assets/img/gallery/team1.png' %} " alt="">
                        </div>
                        <div class="team-caption">
                            <h2><a href="#">MASK</a></h2>
                            <h5>Ref: 4112 (Type N95). Sanitary Registry INVIMA.
                                100% Polypropylene. Anti-Polishing. Pathogen free.                                
                                Dispensing Box (Corrugated Board) X 25, X 50.                                
                                Color: Blue & White.</h5>                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="{% static 'assets/img/gallery/team2.png' %} " alt="">
                        </div>
                        <div class="team-caption">
                            <h2><a href="#">INFRARED THERMOMETER</a></h2>
                            <h5>Brand: Berrcom - Model: JXB-178
                                <br>
                                Temperature range: 35°C - 42.9°C
                                <br>                                
                                Certified by the EU Ministry of Health</h5>                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-">                  
                </div>                  
            </div>            
        </div>
        <div class="container mt-100">
            <!-- Section Tittle -->
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-tittle text-center mb-100">
                        <h2>Home</h2>
                    </div>
                </div>
            </div>
        </div> 
        <div class="container">          
            <div class="row">                
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="{% static 'assets/img/gallery/team3.png' %} " alt="">
                        </div>
                        <div class="team-caption">
                            <h2><a href="#">VACUUM CLEANER BAGS</a></h2>
                            <h5>Manufacture of vacuum cleaner bags for domestic and industrial use, made of paper and filter, synthetic fiberglass and aromatised.
                                The bags are ecological & biodegradable.</h5>                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="{% static 'assets/img/gallery/team4.png' %} " alt="">
                        </div>
                        <div class="team-caption">
                            <h2><a href="#">SILICONE PLATE</a></h2>
                            <h5>Its use is ideal for dogs and cats large and small. 100% environmentally friendly.
                                Manufactured in food grade silicone. Flexible, folding and sporty design.</h5>                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="{% static 'assets/img/gallery/team5.png' %} " alt="">
                        </div>
                        <div class="team-caption">
                            <h2><a href="#">THERMAL GLOVE</a></h2>
                            <h5>Silicone Fabricated Glove <br>
                                Heat resistant (300 °C aprox.)
                                Unit weight 0.25 grams. <br>
                                100% environmentally friendly.
                            </h5>                            
                        </div>
                    </div>
                </div>                                        
            </div>    
            <div class="row">                
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="{% static 'assets/img/gallery/team6.png' %} " alt="">
                        </div>
                        <div class="team-caption">
                            <h2><a href="#">POT SUPPORT</a></h2>
                            <h5>Made of silicone. <br>
                                High temperature resistance. <br>
                                Useful for picking up hot pots and containers.
                                Suitable for domestic and industrial kitchens.</h5>                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="{% static 'assets/img/gallery/team7.png' %} " alt="">
                        </div>
                        <div class="team-caption">
                            <h2><a href="#">BLENDER GLASS</a></h2>
                            <h5>Made of glass. <br> 
                                Blender cup with measuring system <br> 
                                Rounded edges for safety, with comfortable, sturdy handle.</h5>                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="{% static 'assets/img/gallery/team8.png' %} " alt="">
                        </div>
                        <div class="team-caption">
                            <h2><a href="#">IRON BASE</a></h2>
                            <h5>Highly durable and heat-resistant silicone support, especially for home use.
                                100% environmental friendly.<br>
                                Supports up to 200°C.
                            </h5>                            
                        </div>
                    </div>
                </div>                               
            </div>         
        </div>   
    </div>
    <!-- Team End -->
</main>

    