{% extends 'base/base.html' %}

{% load static %}

<!--LIBRERIAS DATATABLES-->
{% block head %}
<link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
<link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
<script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
    {% block headlist %}
    {% endblock headlist %}
{% endblock head %}


<!--TABLA GENERAL PARA HEREDAR HACIA TODAS LAS LISTAS-->
{% block contentprincipal %}
    <div class="card card-default">
        <!--ENCABEZADO DE TABLA-->
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-search"></i>
                {{title}}
            </h3>
        </div>
        <!--BLOQUES DE COLUMNAS Y FILAS QUE SE SOBRE ESCRIBIRAN-->
        <div class="card-body">
            <table class="table" id="table-list">
                <thead>
                {% block columns %}
                {% endblock columns %}
                </thead>
                <tbody>
                {% block rows %}
                {% endblock rows %}
                </tbody>
            </table>
        </div>
        <!--FOOTER DE LA TABLA-->
        <div class="card-footer">
            <a href="{{ url_create }}" class="btn btn-primary btnTest" id="btn-new">
                Nuevo Registro
                <i class="fas fa-plus-circle"></i>
            </a>
        </div>
    </div>
    {% block modal %}
    {% endblock modal %}
{% endblock contentprincipal %}

{% block javascript %}
    <script type="application/javascript">
        $(document).ready(function() {
            $('#table-list').DataTable({
                responsive: true,
                autoWidth: false
            })
        });
    </script>
{% endblock javascript %}